.card {
    font-size: 1em;
    width: 30em;
    // overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 3px 10px 0 hsla(0,0,53%,.2);
    background-color: white;
  }

// hover property of card
.card:hover {
  // z-index: 1;
  // transition: transform .2s;
  // transform: translate3d(0,-5px,0);
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px rgba(135, 135, 135, 0.2);
}

.btn-circle {
  background-color: #8bc4d0;
  border-radius: 50%;
  margin: 0 auto;
  padding: 5px;
  width: 45px;
  height: 45px;
  font-size: 1.1em;
  font-weight: 300;
  color: white;
  z-index: 100;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
}

.listing__btn-circle {
  position: absolute;
  top: -20px;
  right: 20px;
}


.card-footer {
  display: flex;
  align-items: space-around;
}

.add-listing__user {
  position: absolute;
  top: -6px;
  width: 100%;
  z-index: 50;
  display: flex;
  align-items: center;
  background-color: $orange;
  text-align: right;
  right: 0;  
  border-top: 5px solid #fff;
}

.add-listing__user-info {
  grid-column-start: 2;
  text-align: left;
  padding-left: 10px; 
}
.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
  background-color: white;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden
}

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
  text-transform: uppercase;
}

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: .75em 1em;
  color: rgba(0, 0, 0, .4);
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-inverse .btn {
  border: 1px solid rgba(0, 0, 0, .05);
}


.profile {
    position: absolute;
    top: -35px;
    display: inline-block;
    // overflow: hidden;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    margin: 0;
    border: 5px solid #fff;
    border-radius: 50%;
    z-index: 100;
    right: 25px;
    transition: transform .6s cubic-bezier(.67,-0.45,.36,1.49);
  }
  
  .profile:hover {
    transform: scale(1.2) rotate(-2deg);
}

  .profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
  }
  
  .profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
  }