
.container {
    background-color: white;
  }
  .chip {
      font-weight: normal;
      font-size: .75em;
      color: black;
      background-color: #d0cece;
      border-radius: 0px;
      margin-right: 5px;
      padding: 0px;
      padding-right: 0px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    
    }
  
  
  .listings-enter.ng-enter {
      -webkit-animation: fadeInRight 0.5s;
      animation: fadeInRight 0.5s;
  }
  
  .fade-in-right.ng-leave {
    animation: bounceOutRight .5s;
  }
  
  .fade-in-right.ng-leave-active {
    animation: bounceOutRight .5s;
  }
  
  .listings__loading-img {
    position: absolute;
    /* top: 25%; */
    left: 37%;
  }
  
  
  
  /* -- Row 3 --------- */
  /* .slide .photo-overlay,
  .slide img {
      transition: transform .6s ease-in;
  }
  
  .slide .photo-overlay {
      transform: translateY(-100%)
  }
  
  
  .slide:hover .photo-overlay {
      transform: translateY(0)
  } */
  
  .listing__card {
    overflow: hidden;
  }
  
  
  
  .listing__img-container {
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    z-index: 0;
  }
  
  .listing__img-container:hover img {
    transition: transform .6s cubic-bezier(.67,-0.45,.36,1.49), z-index;
    
  
  }
  .listing__img-container:hover img {
    transform: scale(1.2);
    z-index: 1;
  }
  
  .flipper {
    animation: bounce 1s;
    /* animation: zoomOutDown 1s; */
  }
  
  .slide-up {
    /* animation: translateY(-100%) 5s; */
  }
  
  .back {
    height: inherit;
    z-index: 1;
    color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0; 
      left: 0;
      padding-left: 20px;
      padding-right: 20px;
      display: flex; /* For centering text inside .photo-overlay */
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    background: rgba(0,0,0, .7);
    overflow: hidden;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 0px;
    
    opacity: 0;
    transition-property: opacity,z-index;
  }
  
  .back:hover {
    opacity: 1;
    z-index: 1;
    transition: opacity 1s;
  }
  /* starting animations */
  .my-special-animation.ng-enter {
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.5s;
  }
  
  /* starting animations */
  .fade-in-right.ng-enter {
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.5s;
  }
  
  .uib-accordion-group {
    border: none !important;
  }
  
  .listing__label {
    text-transform: uppercase;
  }
  
  .listing__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .listing__btn-buy {
    width: 120px;
    height: 30px;
    position: relative;
  }
  
  .listing__buy-icon {
      opacity: 0;
      display: inline-block;
      width: 50px;
      height: 50px;
      background: url('../../../images/svg/download.svg');
      background-repeat: no-repeat;
      position: absolute;
      left: 45%;
      top: 15%;
      transition-property: opacity, left;
      transition-duration: .5s;
      transition-delay: .3s;
      transition-timing-function: ease-out;
  }
  
  
  .listing__btn-buy:hover .listing__buy-icon {
    opacity: 1;
    left: 77%;
  }
  
    /* .listings__listings-global-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
    } */
    
  .listing__tag-container {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
   .listing__image {
    width:auto;
    max-width: 300px;
    height: 300px;
   }
  
   .listings__main {
     /* display: grid;
     grid-template-columns: 30% 1fr; */
   }
  
   .listing__attributes {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: 80%;
   }
   
   .attributes__label {
     font-family: 'Zilla Slab', serif;
     font-weight: 800;
     font-size: .85em;
     border-bottom: 1px solid gray;
     padding-bottom: 3px; 
     text-transform: uppercase;
   }
  
   .attributes__value {
    font-family: 'Zilla Slab', serif;
    font-weight: 100;
    font-size: 1.1em;
    text-transform: lowercase;
  }
  
   .attributes__box {
     width: 100%;
     font-size: 1.2em;
     padding: 10px;
     margin-bottom: 5px;
     border-radius: 5px;
   }
   .listing__tag {
      background: $green;
      color: white;
      opacity: 1;
      font-size: 1em;
      margin-right: 5px;
      /* transition: opacity 1s ease-in; */
   }
  
   .listing__tag:hover {
      opacity: 1;
      color: white;
      background: $green;
   }
  
  
  .text-bold {
    font-weight: 700;
  }
  
  .meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
  }
  
  // .meta a {
  //   text-decoration: none;
  //   color: rgba(0, 0, 0, .4);
  // }
  
  // .meta a:hover {
  //   color: rgba(0, 0, 0, .87);
  // }