.navbar {
    font-family: 'Zilla Slab', serif;
    margin-bottom: 0px;
}
.navbar-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar__header {
    background-color: $primary-color;
    margin-top: 0;
    margin-bottom: 0px;
    height: 55px;
}

.nav-item {
    font-size: 1.25em;
}

.nav__logout:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-flex {
        display:inline-block;
    }
}