$primary-color: yellow;

body {
    margin: 0 auto;
    padding: 0;
}


@import 'accordion';
@import 'cards';
@import 'progress-line';
@import 'text-truncate';
@import 'navbar';
@import '../lib/font-awesome-4.7.0/scss/font-awesome.scss';
@import url('https://fonts.googleapis.com/css?family=Pacifico');
