node_modules
lib/node_modules
.vscode
.DS_Store
build
app/app.config.js
app.config.js
eslintrc.js
ISSUE_TEMPLATE.md
lib/ngToast
lib/angular-moment-picker
lib/bootstrap
lib/bootstrap-3
lib/font-awesome-4.7.0
lib/materialize
lib/.sass-cache
lib/checklist-model.js
lib/moment.js
lib/xmlToJSON.min.js
lib/googleMarkerClusterer

