<div>
    <button ng-click="addCategories()">Add Categories</button>
    <button ng-click="addSubCategories()">Add SubCategories</button>
    <button ng-click="addAttributes()">Add Attributes</button>
    <button ng-click="addAttributeValues()">Add Attribute Values</button>
    <button ng-click="addSubCategoryAttributes()">Add Sub Category Attributes Rules</button>
    <button ng-click="addProductListingSeeds()">addProductListingSeeds</button>
    <button ng-click="seedGroups()">addGroups</button>
    <button ng-click="approvedUsers()">check users</button>
</div>