<div class="container-fluid">
        
    <div hl-sticky="">
        <nav class="filter__navbar navbar navbar-default flex-between">
            <form name="filterForm" class="filter__form">
                <div class="listings__filter-wrapper">

                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle nav-hidden" ng-click="isNavCollapsed = !isNavCollapsed">
                                    <!-- <span class="sr-only">Toggle navigation</span> -->
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>


                            <div class="filter__category form-group flex-center">
                                    <div class="filter__icon">
                                        <img src="../../../images/svg/007-settings.svg">
                                    </div>
                                    <span class="filter__label">Category</span>
                                    <select class="form-control" ng-model="selectedCategory" ng-change="getSubCategories()" placeholder="Category Search">
                                        <option value="0">No Category Filter</option>
                                        <option value="{{cat.externalId}}" ng-repeat="cat in categories">{{cat.label}}</option>
                                    </select>
                                  
                            </div>

                            <div class="filter__search form-group flex-center">
                                    <div class="filter__icon">
                                            <img src="../../../images/svg/001-loupe.svg">
                                    </div>
                                    <span class="filter__label">Search </span>
                                    <input class="form-control filter__search-input" ng-keypress="finder($event)" type="text" ng-model="filterSearchString" placeholder="Keyword Search (enter to search)">
                            </div>
                            
                            <!-- group filter -->
                            <div class="btn-group flex-center" uib-dropdown is-open="status.isopen" auto-close="outsideClick">
                                <div class="flex-center" id="single-button" type="button"  uib-dropdown-toggle ng-disabled="disabled">
                                    <div class="filter__icon">
                                        <img src="../../../images/svg/005-group.svg">
                                    </div>
                                    <span class="filter__label">My Groups </span>
                                    <span class="caret filter__label"></span>
                                </div>
                                <div class="dropdown-menu group-dropdown" uib-dropdown-menu role="menu" aria-labelledby="single-button" auto-close="outsideClick">
                                    <div class="flex-center flex-column ta-l">
                                        <h4 style="text-align: left;color:black;">Limit to selected groups</h4>
                                        <ul class="filter__group-list">
                                            <li role="menuitem" ng-repeat="group in filterGroups track by $index" class="group-dropdown__list-item">
                                                <div>
                                                    <input auto-close="outsideClick" type="checkbox" class="filled-in" checklist-model="inviteGroups" checklist-value="group" > <span style="color:black;">{{group.name}}</span>
                                                </div>
                                            </li>
                                            <li class="divider"></li>
                                        </ul>
                                        <button type="button" class="btn btn-primary" ng-click="filterListingsBasedOnGroups()">Filter By Groups</button>
                                    </div>
                                </div>
                            </div>
        
                            <!-- map dropdown -->
                            <div class="btn-group flex-center" uib-dropdown auto-close="outsideClick">
                                <div class="flex-center" id="button-template-url" uib-dropdown-toggle ng-disabled="disabled" ng-click="initializeMap()">
                                    <div class="filter__icon">
                                        <img src="../../../images/svg/003-map-location.svg">
                                    </div>
                                    <span class="filter__label">Map</span>
                                    <span class="caret filter__label"></span>
                                </div>
                                   <div  uib-dropdown-menu auto-close="outsideClick" template-url="map-dropdown.html" aria-labelledby="button-template-url">
                                </div>
                            </div>

                            <!-- map template -->
                            <script type="text/ng-template" id="map-dropdown.html">
                                <div ng-click="$event.stopPropagation()" id="map-dropdown" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
                                    <div class="dropdown-map">
                                        <h4 class="map-dropdown__header">Only show me neighbors in selected area </h4>
                                        <div id="map" ng-click="onClick"></div>
                                        <div class="dropdown__map-btn">
                                            <button class="btn btn-primary" type="button" ng-click="checkMapBounds()">Search</button>
                                        </div>
                                    </div> 
                                </div>
                            </script>
                            <!-- Simple dropdown -->
                            <div class="flex-center">
                               <img class="filter__clear-wheel" src="../../../images/gif/waiting.gif" style="width: 25px; height: auto;">
                                <button class="btn btn-primary" type="button" ng-click="init()">CLEAR SEARCH</button>
                                
                            </div>

                </div>
            </form>
        </nav> <!-- end of filter nav -->

    </div>
    <!-- filter sticky end -->
</div>

<div class="container listings__progress">
    <h1 ng-init="init()" ng-clone>listings</h1>
    <div class="progress-circle indefinite" style="height:100vh;display:flex;top:200px;text-align:center">
        <img class="listings__loading-img" style="width:300px;height:auto;"  src="../../../images/svg/box-logo.svg">
        <div>Loading...</div>
    </div>
    <!-- <svg class="progress-circle indefinite" width="100" height="100">
        <g transform="rotate(-90,50,50)">
            <circle class="bg" r="40" cx="50" cy="50" fill="none"></circle>
            <circle class="progress" r="40" cx="50" cy="50" fill="none"></circle>
        </g>
    </svg> -->

    <div class="listings__main">

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">{{$ctrl.item.label}}</h3>
            </div>
            <div class="modal-body" id="modal-body">
                {{$ctrl.item.desc}}
                <ul>
                    <!-- <li ng-repeat="item in $ctrl.items">
                        <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item.label }}</a>
                    </li> -->
                </ul>
                <!-- Selected: <b>{{ $ctrl.selected.item }}</b> -->
                this is selected
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            </div>
        </script>
        <script type="text/ng-template" id="stackedModal.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
            </div>
            <div class="modal-body" id="modal-body-{{name}}">
                Having multiple modals open at once is probably bad UX but it's technically possible.
            </div>
        </script>

        <div class="listings__listings-global-wrapper dynamic-grid ">
            <div ng-repeat="item in (filteredListings = (listings | filter: {requestedDate: 0}:true | orderBy: 'timestamp':true)) track by $index"
                class="my-special-animation" ng-cloak>
                <!--- new card -->
                <div class="card card-inverse card-info flip-container grid-item"  ontouchstart="this.classList.toggle('hover');">
                        <div ng-if="isNew(item)" class="ribbon ribbon-top-left"><span>NEW!</span></div>
                
                        <div >
                            <div class="flipper">
                                <div class="front">
                                    <!-- <a href="#!/listings/review/{{item.id}}"> -->
                                        <img ng-click="open('lg',item)" class="card-img-top" ng-src="{{item.image}}" alt="Card image cap">
                                    <!-- </a> -->
                                </div>
                                <!-- end of card-front -->
                                <div class="back">
                                </div>
                            </div>
                            <!-- end of flipper -->
                            <div class="card-block">
                                <div class="add-listing__user ">
                                    <figure class="profile" popover-append-to-body="true" uib-popover="'Hi! I'm {{item.user.firstName}}'" popover-trigger="'mouseenter'">
                                        <img src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" class="profile-avatar" alt="">
                                    </figure>
                                    <span class="add-listing__user-info">{{item.user.firstName}} {{item.user.lastName}}</span>
                                </div>
                                <div class="text-truncate">
                                    <h4 class="card-title mt-3">{{item.label}}</h4>
                                </div>
                                <div class="card__price">
                                    <span class="badge badge-info ">{{getPrice()}}</span>
                                </div>
                                <div class="meta card-text">
                                    <a></a>
                                </div>
                                <div class="card-text">
                                    {{item.desc}}
                                </div>
                                <div class="listing__tag-container">
                                    <span ng-repeat="tag in tags" class="btn btn-default btn-xs">
                                        {{tag}}
                                    </span>
                                </div>
                            </div>
        
                            <div class="card-footer">
                                <small>Expiring in {{ item.expiresInDays }} days</small>
                                <button class="btn btn-info float-right btn-sm" id="{{item.id}}" ng-click="purchase($event)">I want it!</button>
                            </div>
                        </div>

                </div>
              
            </div>

        </div>
        
    </div>
    <!-- listings main end -->
</div>
<!-- end of main container -->