
<div>HELLO, ADDLISTING</div>


<!-- <div ng-controller="FilterCtrl as filter">
    <h1>Hello, Filter</h1>
    <form name='myForm' ng-submit="submit(viewModel)">
        <div ng-repeat="field in viewModel" ng-form='subForm'>
        <div class="input-field inline" ng-if='field.data_type == "text"'>
            <label>{{field.label}}</label>
            <input type='text' ng-model='field.model' placeholder='{{field.label}}' name='myText' required/>
            <span class='required' ng-show="subForm.myText.$error.required">*</span>
        </div>
        <div class="input-field inline" ng-if='field.data_type == "email"'>
            <input type='email' ng-model='field.model' placeholder='{{field.label}}' name='myEmail'/>
            <span class='required' ng-show="subForm.myEmail.$error.required">*</span>
        </div>
        <div ng-if='field.data_type == "select"'>
            <select ng-model='field.model'>
            <option ng-repeat='m in field.viewModel' value="{{m.value}}" ng-selected='m.isSelected'>{{m.label}}</option>
            </select>
        </div>
    </div>
    
    <input type='submit' value='submit form' ng-disabled='myForm.$invalid'/>
    
    </form>
        
    <div ng-show='submitted && myForm.$valid' class='form-result'>
        <div ng-repeat='model in viewModel'>
        {{model.name}}: {{model.model}}
        </div>
    </div>
</div>
             -->