<div ng-controller="ClosedListingsCtrl" class="user__widget">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title section__header">Found a new home </h3>
        </div>
        <div class="panel-body">
            <ul class="list-group list-group__ul">
                <li class="list-group-item myBox__item" ng-repeat="listing in closedListings | filter: greaterThan('purchaseCompletedOn', 0) | orderBy: 'purchaseCompletedOn':true">
                    <span>{{listing.label}} - {{listing.purchaseCompletedOn| date:'yyyy-MM-dd'}}
                        <span class="label label-default" ng-if="isNew(listing)">New</span>
                    </span>
                    <!-- <btn class="btn btn-default btn-sm" type="button" id="{{ listing.id }}" ng-click="deleteListing($event)">DELETE</button> -->
                </li>
            </ul>
        </div>
    </div>

</div>
