<div class="container">
    <h1 class="section__header">My Details</h1>
    <!-- <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            This is just some content to illustrate fancy headings.
        </div>
    </uib-accordian> -->
    <div class="container-fluid">
       
        <div class="row flex-center">
            <div class="col-md-8 box__centered-listings" ng-include="'app/users/partials/user-listings.html'"></div>
        </div>
        <div class="row flex-center">
            <div class="col-md-8 box__centered-listings" ng-include="'app/users/partials/purchasedListings.html'"></div>
        </div>
        <div class="row flex-center">
            <div class="col-md-8 box__centered-listings" ng-include="'app/users/partials/closedListings.html'"></div>
        </div>
        <div class="row flex-center">
            <div class="col-md-8 box__centered-listings"  ng-include="'app/users/partials/my-purchased-items.html'"></div>
        </div>
    </div>
</div>

