<div ng-controller="PurchasedListingsCtrl" class="user__widget">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title section__header">Pending items </div>
        </div>
        <div class="panel-body">
            <ul class="list-group list-group__ul">
                <li class="list-group-item myBox__item" ng-repeat="listing in purchasedListings | filter: greaterThan('requestedDate',0)">
                    <span>{{listing.label}} - {{listing.requestedDate| date:'yyyy-MM-dd'}}
                            <span ng-if="daysElapsed(listing) < 7"class="label label-default">New</span>
                            <span ng-if="daysElapsed(listing) >= 7"class="label label-danger">Late Response</span>
                    </span>
                    <div class="pending__close">
                        <button class="btn btn-default btn-sm pending__close-btn" type="button" data-id="{{listing.id}}" ng-click="closeListing($event)"><i data-id="{{ listing.id }}" class="fa fa-times fa-2x"></i></button>
                        <span>Once the deal is done, close the listing</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>