<div ng-controller="PurchasedListingsCtrl" class="user__widget">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title section__header">Somebody wants these (Pending Items) </div>
        </div>
        <div class="panel-body">
            <ul class="list-group list-group__ul">
                <li class="list-group-item myBox__item" ng-repeat="listing in purchasedListings | filter: greaterThan('requestedDate',0)">
                    <span>{{listing.label}} - {{listing.requestedDate| date:'yyyy-MM-dd'}}
                            <span ng-if="daysElapsed(listing) < 7"class="label label-default">New</span>
                            <span ng-if="daysElapsed(listing) >= 7"class="label label-danger">Late Response</span>
                    </span>
                    <button class="btn btn-default btn-sm" type="button" id="{{ listing.id }}" ng-click="closeListing($event)"><i class="fa fa-times fa-2x"></i></button>
                </li>
            </ul>
        </div>
    </div>
</div>