<div ng-controller="UserCtrl">
    <h1 class="section__header">Redeem Invites</h1>
    <p>Redeem a group invite</p>
    <form name="Redeem">
        <input type="text" name="redeemInvite" ng-model="inviteCode" required/>
        <button type="button" ng-click="redeemInvite()">Validate</button>
        <!-- <span ng-show="authorizationForm.generateCode.$touched && myForm.generateCode.$invalid">The name is required.</span> -->
    </form>
    <label ng-repeat="avail in availableGroups">
        <div>
            <input type="checkbox" checklist-model="user.joinGroups" checklist-value="avail"> {{avail.groupName}}
        </div>
    </label>
    <span ng-repeat="ur in user.availableGroups">{{ur}} </span>
    <div ng-if="availableGroups">
        <button type="button" ng-click="joinGroups()">Join</button>
    </div>
</div>