<div ng-controller="UserListingsCtrl" data-ng-init="listingsInit()" class="user__widget">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title section__header">In my giveaway box </h3>
        </div>
        <div class="panel-body">
            <ul class="list-group list-group__ul">
                <li class="list-group-item myBox__item" ng-repeat="listing in listings | filter: {requestedDate: 0}:true">
                    <span>{{listing.label}} - expires in {{listing.expiresInDays}} days
                            <span class="label label-default" ng-if="isNew(listing)">New</span>
                    </span>
                    <a href="#!/listings/detail/{{ listing.id }}">Update</a>
                    <button class="btn btn-default btn-sm" type="button" id="{{ listing.id }}" ng-click="deleteListing($event)">DELETE</button>
                </li>
            </ul>
        </div>
    </div>
</div>