/*@import url("https://fonts.googleapis.com/css?family=Roboto");*/
/*font-family: "Roboto", sans-serif;*/

:root {
  --nav-footer-height: 60px;
}



/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}


/* font-family: 'Pacifico', cursive; */



.section__header {
  font-family: 'Zilla Slab', serif;
  font-weight: 500;
  font-size: 2em;
}

.myBox__item {
  display: flex;
  justify-content: space-between;
}

.box-shadow {
  box-shadow: 1px 3px 5px rgba(0,0,0,.3)
}


.main-content {
  position: relative;
  background-color: #FAFAFA;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  /* min-height: calc(100vh - (var(--nav-footer-height) * 2)); */

}


.article {
  margin: 0 20px;
  padding: 10px 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.ta-l {
  text-align: left;
}

.card-svg {
  background-image: url('../images/svg/002-cards.svg#cards-svg');
}


.progress-circle.definite .progress {
  stroke: red;
  stroke-width: 2;
  stroke-dashoffset: 0;
  stroke-dasharray: 251;
  animation: progress-anim 2s ease;
}

.progress-circle.definite .bg {
  stroke: #eee;
  stroke-width: 2;
}

@keyframes progress-anim {
  0% { stroke-dashoffset: 251; }
  100% { stroke-dashoffset: 0; }
}


/* indefinite */
.progress-circle.indefinite .progress {
  stroke: blue;
  stroke-width: 2;
  stroke-dashoffset: 0;
  stroke-dasharray: 63 188;
  animation: progress-indef 2s linear infinite;
}

.progress-circle.indefinite .bg {
  stroke: #eee;
  stroke-width: 2;
}

@keyframes progress-indef {
  0% { stroke-dashoffset: 251; }
  100% { stroke-dashoffset: 0; }
}

label {
  display: block;
}

/* .user__widget {
  border: 2px solid gray;
} */