.chip {
    font-weight: normal;
    font-size: .75em;
    color: black;
    background-color: #d0cece;
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  
  }
  
  .listing__tag-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

 .listing__image {
  width:auto;
  max-width: 150;
  height: 150;
 }

 .listings__main {
   display: grid;
   grid-template-columns: 40% 1fr;
 }

 .listing__card {
   border: 1px solid black;
 }